rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /chats/{chatId} {
      allow read: if true;
      allow create, update: if request.auth.uid != null && request.resource.data.message is string && request.resource.data.username is string;      
      allow delete: if false;
    }
  }
}